@font-face {
  font-family: "TTTravels";

  src: url("../fonts/TTTravels-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/TTTravels-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SchnyderXCond";

  src: url("../fonts/SchnyderXCondXLDemi.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SchnyderXCondXLDemi.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}